@media (min-width: 0px) and (max-width: 1000px) {
    header nav ul {
        width: 100%;
    }

    .h-logo {
        width: 100%;
    }

    header .banner .banner-image {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    header .banner .banner-image img {
        width: 100%;
    }

    header .banner .bannr-text {
        width: 100%;
    }

    header .banner {
        padding: 0px 20px;
    }

    header nav {
        padding: 0px;
    }
    /* about */
    .about{
        margin: 0px;
        padding: 20px;
    }
    /* experience */
    .experience{
        margin: 0px;
        padding: 20px;
    }
    .resume-container .resume-first-sec , .resume-container .resume-secend-sec {
        width: 100%;
    }
    .resume-container{
        margin: 0px;
        padding: 25px;
    }
    .resume-container .resume-first-sec p , .resume-container .resume-secend-sec p {
        padding: 0px;
    }
    .footer-section {
        gap: 5rem;
    }

}
